.output {
    background-color: rgb(143, 133, 133);
}
.output__item {
    min-width: 20vw;
    border: 3px solid rgb(222, 215, 215);
    margin: 10px;
    display: flex;
    justify-content: space-between;
}
.output__item > div{
    display: inline;
}